
<div class="home container">
  <div class="intro">
    <%= render partial: "prismic_fragment", locals: { fragment: @site_header_doc.fragments['bio'] } %>
  </div>

  <section class="blog-section">
    <h1 class="title">Blog</h1>

    <div class="blog-grid">
      <% @blog_post_docs.each do |doc| %>
        <div class="blog-listing">
          <%= link_to :controller => :blog, :action => :show, :id => doc.uid do %>
            <img src="<%= doc.fragments['title-image-small'].main.url %>" />
            <%= render partial: "prismic_fragment",  locals: { fragment: doc.fragments['title'] } %>
            <%= render partial: "prismic_fragment",  locals: { fragment: doc.fragments['subtitle'] } %>
          <% end %>
        </div>
      <% end %>
    </div>

  </section>
</div>
