<%= content_for :title, @blog_doc.fragments['title'].blocks.first.text %>
<div class="blog">

  <div class="blog-title">
    <img src="<%= @blog_doc.fragments['title-image'].main.url %>" />
    
    <div class="padding-device-safe-area">
      <%= render partial: "prismic_fragment", locals: { fragment: @blog_doc.fragments['title'] } %> 

      <%= render partial: "prismic_fragment", locals: { fragment: @blog_doc.fragments['subtitle'] } %> 
    </div>
  </div>

  <article class="blog-content container">
    <% @blog_doc.fragments['body'].slices.each do |slice| %>
      <div class="blog-fragment">
        <%= render partial: "prismic_fragment", locals: { fragment: slice } %>
      </div>
    <% end %>
  </article>

</div>
