<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="description" content="<%= meta_description %>">
		<meta name="keywords" content="<%= meta_keywords %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"> 

		<!-- Facebook Open Graph data -->
		<meta property="og:title" content="<%= title %>" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="<%= request.original_url %>" />
		<meta property="og:image" content="<%= meta_image %>" />
		<meta property="og:description" content="<%= meta_description %>" />
		<meta property="og:site_name" content="<%= title %>" />

		<!-- Twitter Card data -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="<%= meta_twitter_account %>">
		<meta name="twitter:title" content="<%= title %>">
		<meta name="twitter:description" content="<%= meta_description %>">
		<meta name="twitter:creator" content="<%= meta_twitter_account %>">
		<meta name="twitter:image:src" content="<%= meta_image %>">
      
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= favicon_link_tag asset_path('apple-touch-icon.png'), rel: 'apple-touch-icon', type: 'image/png' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
  </head>

  <body>
    <div>

    <section class="site-header container">
      <a href="/">
        <h1><%= @site_settings.title %></h1>
      </a>

      <div class="social-links">
        <% @site_settings.socialLinks.each do |social_link| %>
          <%= render partial: "social_link", locals: { social_link: social_link } %>
        <% end %>
      </div>

      <% if @site_settings.subtitle.present? -%>
        <h4><%= @site_settings.subtitle %></h4>
      <% end %>
    </section> 

    <div class="content-container">
      <%= yield %>
    </div>

    </div>
  </body>
</html>
