<!DOCTYPE html>
<html>
  <head>
    <title>| Lewis M Sparlin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>

			<section className="site-header">
				<a href="/"> <%= render partial: "prismic_structured_text", locals: { fragment: @site_header_doc.fragments['title'] } %> </a>
				<%= render partial: "prismic_structured_text",  locals: { fragment: @site_header_doc.fragments['subtitle'] } %>
			</section> 
			<div>
				<%= yield %>
			</div>

    </div>
  </body>
</html>
