<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="description" content="<%= meta_description %>">
		<meta name="keywords" content="<%= meta_keywords %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"> 

		<!-- Facebook Open Graph data -->
		<meta property="og:title" content="<%= title %>" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="<%= request.original_url %>" />
		<meta property="og:image" content="<%= meta_image %>" />
		<meta property="og:description" content="<%= meta_description %>" />
		<meta property="og:site_name" content="<%= title %>" />

		<!-- Twitter Card data -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="<%= meta_twitter_account %>">
		<meta name="twitter:title" content="<%= title %>">
		<meta name="twitter:description" content="<%= meta_description %>">
		<meta name="twitter:creator" content="<%= meta_twitter_account %>">
		<meta name="twitter:image:src" content="<%= meta_image %>">
      
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('coffee_icon.png') %>
  </head>

  <body>
    <div>

    <section class="site-header container">
      <a href="/">
        <%= render partial: "prismic_fragment", locals: { fragment: @site_header_doc.fragments['title'] } %> 
      </a>

      <div class="social-links">
        <% @social_link_docs.each do |social_link| %>
          <%= render partial: "prismic_social_link", locals: { social_link: social_link, size_multiplier: 1.5 } %>
        <% end %>
      </div>

      <%= render partial: "prismic_fragment",  locals: { fragment: @site_header_doc.fragments['subtitle'] } %>
    </section> 

    <div class="content-container">
      <%= yield %>
    </div>

    </div>
  </body>
</html>
